@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Montserrat'), url('../font/montserrat-v31-latin-700.woff2') format('woff2');
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #343a40;
	background: linear-gradient(100deg, #5757fb, #f8f9fa);
	background-size: 200% 200%;
	animation: gradientAnimation 60s ease infinite;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

.navbar-brand {
	font-weight: bold;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-size: clamp(0.8rem, 8vw, 3.5rem) !important;
}

h2 {
	font-size: clamp(0.75rem, 8vw, 2rem) !important;
}

section {
	padding-top: 4.75rem;
}

.img-fluid {
	transition: transform 0.3s ease-in-out;
}

.img-fluid:hover,
a:focus img {
	transform: scale(1.1);
}

.img-size-large {
	max-width: 250px;
	max-height: 250px;
}

.img-size-small {
	max-width: 25px;
	max-height: 25px;
}

#request-cookies,
#rejected-cookies {
	font-size: clamp(0.25rem, 2vw, 0.875rem);
	margin-bottom: clamp(0.2rem, 1.5vw, 0.75rem) !important;
}

#accept-cookies,
#reject-cookies,
#retry-cookies {
	font-size: clamp(0.25rem, 2vw, 0.875rem);
	padding: clamp(0.05rem, 1vw, 0.25rem) clamp(0.1rem, 2vw, 0.5rem);
}

a {
	text-decoration: none !important;
}

p a {
	color: #0056b3;
}

p a:visited {
	color: #8800ff;
}

p a:hover {
	color: #ff5733;
}

p a:focus {
	color: #00840b;
}

p a:active {
	color: #d63384;
}

footer {
	color: white;
	background-color: #343a40;
}