@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6WXh0pg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Open Sans;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v29/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1x4gaVI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navbar {
  background-color: black;
  border-radius: 25px;
  border-style: solid;
  border-color: #00008b;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-align: center;
  padding: 5px 65px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active {
  background-color: #00008b;
  color: white;
}

.navbar a:visited {
  color: white;
}

.navbar a:hover {
  background-color: #00008b;
  color: white;
}

a:visited {
	color: grey;
}

a:hover {
	background-color: #00008b;
}

body {
	font-family: Verdana; 
	background-image: url("assets/background.gif");
}

h2 {
	font-size: 20pt;
	color: white;
	border-radius: 25px;
	border-style: solid;
	border-color: #00008b;
	padding: 10px;
	text-align: center;
	margin-top: 40pt;
}

p {
	text-align: center;
}

a {
	color: white;
	text-decoration: none;
	line-height: 1.5;
}

.style1 {
	font-family: Montserrat;
	color: white;
	font-size: 30pt;
}

.style2 {
	font-family: Open Sans;
	color: white;
	font-size: 15pt;
	line-height: 2;
}

.style3 {
	font-family: Open Sans;
	color: white;
	font-size: 12.5pt;
	line-height: 2;
}

.middle {
	vertical-align: middle;
	margin-top: 4pt;
}

.special {
	text-decoration: underline;
}

#clean1:hover {
	background-color: transparent;
}

#clean2:hover {
	background-color: transparent;
}

#clean3:hover {
	background-color: transparent;
}

#clean4:hover {
	background-color: transparent;
}

#clean5:hover {
	background-color: transparent;
}

#clean6:hover {
	background-color: transparent;
}

#clean7:hover {
	background-color: transparent;
}

div {
	text-align: center;
}

iframe {
	width: 560px; 
	height: 315px;
	border-style: none; 
}
