body {font-family:Verdana;background-color:black;}

h1 {font-size:20pt;color:white;background-color:blue;border-style:solid;border-color:#00008b;text-align:center;margin-bottom:0pt;}

h2, h3, h4, h5, h6 {font-size:20pt;color:white;background-color:blue;border-style:solid;border-color:#00008b;text-align:center;margin-top:40pt;}

p {text-align:center;}

span {font-weight:bold;}

a {color:white;text-decoration:none;line-height:1.8;}

footer {color:white;text-align:center;margin-top:-150pt;}

.style0 {text-decoration:underline white;}

.style1 {color:white;line-height:1.5;}

.style2 {color:blue;font-size:15pt;}

.bottom {vertical-align:bottom;}

.middle {vertical-align:middle;}

.container {position:relative;overflow:hidden;width:100%;padding-top:56.25%;}

.responsive-iframe {position:absolute;margin:auto;top:0;left:50%;bottom:0;right:0;width:50%;height:50%;border-style:none;transform:translate(-50%,-50%);}

a:visited {color:#808080;}

a:hover {background-color:#10617a;}
