body {font-family:Verdana;color:white;background-color:black;}

h1, h2 {font-size:20pt;color:white;background-color:blue;border-style:solid;border-color:#00008b;text-align:center;margin-bottom:10pt;}

img {margin:auto;vertical-align:top;margin-top:-100pt;}