name: HTML5/CSS Check

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    # GitHub token permissions
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v6.0.2
    - name: HTML5/CSS Check
      uses: Cyb3r-Jak3/html5validator-action@master
      with:
        root: ./
        css: true
        log_level: INFO
